@font-face {
    font-family: 'Poppins-Medium';
    src: url(/src/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(/src/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(/src/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(/src/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(/src/fonts/Poppins-SemiBold.ttf);
}